<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="resources/css/common.css">
<body>
<header>
    <h1>Crypto token Trading Bot</h1>
    <nav>
        <ul>
            <li><span>Account: </span> <span sec:authentication="name"></span> </li>
            <li><span>Balance: </span> <span th:text="${balance}"></span> </li>
            <li><input type="button" value="Sign Out" sec:authorize="isAuthenticated()" th:onclick="|window.location.href='/user/signOut'|"> </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>코인</th>
                <th>현재가</th>
                <th>평균매수금액</th>
                <th>보유수량</th>
                <th>손익</th>
                <th>상태 (시작/정지)</th>
                <th>설정</th>
            </tr>
            </thead>
            <tbody id="board">
            <tr th:each="coin: ${coins}">
                <td th:text="${coin.name}"></td>
                <td th:text="${#numbers.formatDecimal(coin.marketPrice,1,'DEFAULT',2,'DEFAULT')}"></td>
                <td th:text="${#numbers.formatDecimal(coin.bidPrice,1,'DEFAULT',2,'DEFAULT')}"></td>
                <td th:text="${#numbers.formatDecimal(coin.quantity,1,'DEFAULT',2,'DEFAULT')}"></td>
                <td th:text="${#numbers.formatDecimal(coin.income,1,'DEFAULT',2,'DEFAULT')}"></td>
                <td>
                    <form th:switch="${coin.isRun.getValue()}" action="/run_or_stop" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button th:case="-1" th:text="시작" name="btn" th:value="${coinStat.index}" type="submit" disabled></button>
                        <button th:case="1" th:text="정지" name="btn" th:value="${coinStat.index}" type="submit"></button>
                        <button th:case="0" th:text="시작" name="btn" th:value="${coinStat.index}" type="submit"></button>
                    </form>
                </td>
                <td>
                    <form action="/settings/edit?coin_name=${coin.name}" method="get">
                        <input type="hidden" name="coin_name" th:value="${coin.name}">
                        <input type="submit" value="설정">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>