<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1 th:text="${coin_name} + ' Trade Setting'" />
    <form action="#" th:action="@{/setting/save}" method="post" id="edit_setting">
        <input type="hidden" name="coinName" th:value="${coin_name}">
    <div class="form-group">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>기준</th>
                <th>조건</th>
                <th>매수수량</th>
                <th>매수총액</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:with="setting= ${bid_settings}">
                <td th:text="매수조건"></td>
                <td>
                    <select name="bidReference" form="edit_setting">
                        <option th:each="ref : ${T(movingjin.tradingbot.setting.domain.BidTradeSetting.Reference).values()}"
                                th:value="${ref}"
                                th:text="${ref}"
                                th:selected="(${setting.reference} == ${ref.name()})">
                        </option>
                    </select>
                </td>
                <td> <input type="number" id="bidConditionRatio" name="bidConditionRatio" min="0" step="any" size=6 placeholder="기준 대비 매수조건" th:value="${setting.conditionRatio}"> </td>
                <td> <input type="number" id="bidQuantity" name="bidQuantity" size=10 min="-1" step="any" placeholder="매수수량" th:value="${setting.quantity}"> </td>
                <td> <input type="number" id="bidPrice" name="bidPrice" size=10 min="0" step="any" placeholder="매수수량" th:value="${setting.price}" disabled> </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>기준</th>
                <th>조건</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:with="setting= ${ask_settings}">
                <td th:text="매도조건"></td>
                <td>
                    <select name="askReference" form="edit_setting">
                        <option th:each="ref : ${T(movingjin.tradingbot.setting.domain.AskTradeSetting.Reference).values()}"
                            th:value="${ref}"
                            th:text="${ref}"
                            th:selected="(${setting.reference} == ${ref.name()})">
                        </option>
                    </select>
                </td>
                <td> <input type="number" id="askConditionRatio" name="askConditionRatio" size=6 min="0" step="any" placeholder="기준 대비 매도조건" th:value="${setting.conditionRatio}"> </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <input type="submit" value="적용">
        <input type="button" value="이전" onclick="goBack()">
    </div>
    </form>
</div>
</body>

<script th:inline="javascript">

    /*<![CDATA[*/
    let isSaveOk = /*[[${isSaveOk}]]*/ false;
    /*]]>*/
    if(isSaveOk === true)
    {
        alert('저장되었습니다.');
    }

    function goBack() {
        window.history.back();
    }

    /*<![CDATA[*/
    let currentPrice = /*[[${currentPrice}]]*/ 0.0;
    /*]]>*/
    let bidQuantity = document.getElementById("bidQuantity");
    let bidPrice = document.getElementById("bidPrice");
    bidQuantity.addEventListener('change', function () {
        let quantity = parseFloat(bidQuantity.value);
        let total = quantity * currentPrice;
        bidPrice.value = total.toFixed(6);
    });

    function calTotal()
    {

    }

</script>
</html>